.width-100-per{width: 100% !important;}
.popular_list .DTFC_RightWrapper .DTFC_RightBodyWrapper ,.popular_list .DTFC_RightBodyWrapper .DTFC_RightBodyLiner{overflow: visible !important;}
.table-responsive.popular_list {overflow-x: initial !important;}
.custom_dt tfoot{display: table-header-group;}

.popular_list .table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {padding: 10px;min-width: 110px;}

.popular_list .table > caption + thead > tr:first-child > th.sticky-col,
.table > colgroup + thead > tr:first-child > th.sticky-col,
.table > thead:first-child > tr:first-child > th.sticky-col,
.table > caption + thead > tr:first-child > td.sticky-col,
.table > colgroup + thead > tr:first-child > td.sticky-col,
.table > thead:first-child > tr:first-child > td.sticky-col{padding: 12px 20px;min-width: 110px;}

.page-title {padding: 12px 36px 12px 0;}
.pt-0{padding-top: 0 !important;}
.pb-0{padding-bottom: 0 !important;}
.action-btns{padding: 0 5px; margin-right: 5px;}
.resize-ver{resize: vertical !important;}
.page-header-content {padding: 0 20px 10px 20px;}
#result_bill{
    padding:10px;
    border:1px solid #eee;
    
}
div#result_bill label {
    font-weight: bold;
}
div#result_bill .row {
    border-bottom: 1px solid #333 ;
    line-height: 33px;
}
.no-border-bottom{
    border: none !important;
}
label.header_brand_name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

.textbox_loading {    
    background-color: #eee !important;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif") !important;
    background-size: 20px 20px;
    background-position:right center;
    background-repeat: no-repeat;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input#billno {
    text-align: center;
    
    border: 1px solid #ccc;
    background-color: #eee;
    color: #000;
}
div#result_bill .align {
    text-align: right;
}
.dataTables_filter {
    float:right !important;
}
.card-columns {
    margin-top: 20px;
    margin-bottom: 10px;
}
.card-columns .card-text
{
    padding: 15px;
    font-size: 18px;
}
#order_record_tbl td,#order_record_tbl th {
    padding: 15px 0;
}
.total_print{
    display: block;
    border-top: 1px solid;
    position: absolute;
    bottom: 40px;

}
label.total_amount{
    font-weight: 800;
    font-size: 14px !important;
}
.margin-top-20{
    margin-top: 20px;
}
.submit_order{
    float: right;
    clear: both;
    display: none;
}